.hero-section {
  margin-top: 180px;
  padding: 20px;
}

.fle-box {
  display: flex;
  gap: 40px;
}

.main-message {
  font-family: "Inknut Antiqua", serif;
  margin-top: 40px;
}

.main-message h1 {
  font-weight: 300;
  font-size: 26px;
}

.flex-right-side img {
  height: 483px;
  width: 500px;
}

.flex-left-side {
  height: 483px;
  width: 500px;
}

@media (max-width: 768px) {
  .hero-section {
    margin-top:100px;
  }
  .flex-box {
    flex-direction: column;
    align-items: center;
  }
  .flex-right-side {
    display: none;
  }
}
